<H1>The Report Page </H1>
<h2 ><%= pname %></h2>

<h4 ><%= pinumber %></h4>

<Button><a href=<%= link1 %>><h1>Doctor Report</h1></a></Button>
<Button><a href=<%= link2 %>><h1>Patient Report</h1></a></Button>